.toggle-setting {
  > label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      padding: 0 0.25rem;
    }

    .option {
      text-align: center;
      flex: 1;

      &.on {
        font-weight: 800;
      }
    }
  }
}
